---
# KNeighborsRegressor - Copia

---

In [53]:
def Erro(y_previsto,y_base_teste):
    lista_erro = []
    for i,e in zip(y_previsto,y_base_teste):
        if i < e:
            dif = e-i
            lista_erro.append(dif)
        else: 
            dif = i-e
            lista_erro.append(dif)
    return lista_erro

def Classificador(Erro):
    lista_classificacao = []
    for erros in Erro:
        if erros<=0.5:
            classfica = "Certo"
            lista_classificacao.append(classfica)
        else:
            classifica = "Errado"
            lista_classificacao.append(classfica)
    return lista_classificacao 

def Acuracia(Classificador,Erro):
    data = {
    'Y_predict': y_predict,
    'Y_test': y_test,
    'Erro': Erro, 
    'Classificação': Classificador,
    }
    tabela = pd.DataFrame(data, columns=['Y_predict', 'Y_test','Erro','Classificação'])
    tabela.head(5)
    contador=0
    for c in Classificador: 
        if c == "Certo": 
            contador+=1
    acertou=(contador/len(Classificador))*100
    return acertou

In [23]:
# --------------------- IMPORTANDO BIBLIOTECA ----------------------
%matplotlib inline
# !pip install mglearn
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import random
from sklearn.model_selection import train_test_split
import mglearn 
from sklearn.neighbors import KNeighborsRegressor
RANDOM_SEED = 42
np.random.seed(RANDOM_SEED)

In [24]:
RANDOM_SEED = 42
np.random.seed(RANDOM_SEED)

In [25]:
# ---------------- lendo arquivos ----------------
dados = pd.read_excel("HappinessAlcoholConsumption.xls")

In [26]:
X =  dados[['HDI', 'GDP_PerCapita', 'Beer_PerCapita', 'Spirit_PerCapita', 'Wine_PerCapita']]
y = dados["HappinessScore"]

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=RANDOM_SEED)

---
# Primeira Interação 

---

In [28]:
reg = KNeighborsRegressor(n_neighbors=5)
reg.fit(X_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=5, p=2,
          weights='uniform')

In [29]:
y_predict = reg.predict(X_test)
y_predict

array([7.2824, 6.2248, 5.1072, 3.643 , 7.0554, 5.8292, 5.7534, 3.8306,
       5.4962, 6.875 , 5.7138, 3.9354, 6.348 ])

In [55]:
a = Erro(y_predict,y_test)
b = Classificador(a)
c = Acuracia(b,a)
c

100.0

In [18]:
erro=[]
for i,e in zip(y_predict,y_test):
    if i<e:
     diferenca= e-i
     erro.append(diferenca)
    else:
     diferenca= i-e
     erro.append(diferenca)

classificacao=[]
for erros in erro: 
    if erros< 0.5: 
        classfi= 'Certo'
        classificacao.append(classfi)
    else:
        classfi= 'Errado'
        classificacao.append(classfi)

In [19]:
data = {
'Y_predict': y_predict,
'Y_test': y_test,
'Erro': erro, 
'Classificação': classificacao,
}
tabela = pd.DataFrame(data, columns=['Y_predict', 'Y_test','Erro','Classificação'])
tabela.head(5)

    Y_predict  Y_test    Erro Classificação
18     7.2824   6.871  0.4114         Certo
45     6.2248   5.956  0.2688         Certo
47     5.1072   5.919  0.8118        Errado
89     3.6430   4.635  0.9920        Errado
4      7.0554   7.413  0.3576         Certo

In [20]:
contador=0
for c in classificacao: 
    if c == "Certo": 
        contador+=1
acertou=(contador/len(classificacao))*100
print("A regressão Kneighbors acertou {0}%".format(acertou))

A regressão Kneighbors acertou 61.53846153846154%

---
# Segunda Interação 

---

In [21]:
X2 =  dados[['HDI', 'GDP_PerCapita']]
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y, test_size=0.1, random_state=RANDOM_SEED)

In [22]:
reg.fit(X_train2, y_train2)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=5, p=2,
          weights='uniform')

In [23]:
y_predict2 = reg.predict(X_test2)
y_predict2

array([7.152 , 5.4852, 6.0942, 3.643 , 7.1462, 5.1418, 5.5162, 3.8394,
       5.561 , 6.2494, 5.7628, 3.9354, 6.5374])

In [24]:
erro=[]
for i,e in zip(y_predict2,y_test2):
    if i<e:
     diferenca = e-i
     erro.append(diferenca)
    else:
     diferenca = i-e
     erro.append(diferenca)

classificacao=[]
for erros in erro: 
    if erros< 0.5: 
        classfi= 'Certo'
        classificacao.append(classfi)
    else:
        classfi= 'Errado'
        classificacao.append(classfi)

In [25]:
data = {
'Y_predict': y_predict,
'Y_test': y_test,
'Erro': erro, 
'Classificação': classificacao,
}
tabela = pd.DataFrame(data, columns=['Y_predict', 'Y_test','Erro','Classificação'])
tabela.head(5)

    Y_predict  Y_test    Erro Classificação
18     7.2824   6.871  0.2810         Certo
45     6.2248   5.956  0.4708         Certo
47     5.1072   5.919  0.1752         Certo
89     3.6430   4.635  0.9920        Errado
4      7.0554   7.413  0.2668         Certo

In [26]:
contador=0
for c in classificacao: 
    if c == "Certo": 
        contador+=1
acertou=(contador/len(classificacao))*100
print("A regressão Kneighbors acertou {0}%".format(acertou))

A regressão Kneighbors acertou 69.23076923076923%

---
# Passando log no GPD PerCapita

---

In [27]:
GPD= dados["GDP_PerCapita"]

In [30]:
dados.loc[:,"LOG_GPD"] = np.log(GPD)

In [31]:
dados

,Country,Region,Hemisphere,HappinessScore,HDI,GDP_PerCapita,Beer_PerCapita,Spirit_PerCapita,Wine_PerCapita,LOG_GPD
0,Denmark,Western Europe,north,7.526,928,53.579,224,81,278,3.981157
1,Switzerland,Western Europe,north,7.509,943,79.866,185,100,280,4.380350
2,Iceland,Western Europe,north,7.501,933,60.530,233,61,78,4.103139
3,Norway,Western Europe,north,7.498,951,70.890,169,71,129,4.261129
4,Finland,Western Europe,north,7.413,918,43.433,263,133,97,3.771220
5,Canada,North America,north,7.404,922,42.349,240,122,100,3.745945
6,Netherlands,Western Europe,north,7.339,928,45.638,251,88,190,3.820741
7,New Zealand,Australia and New Zealand,south,7.334,915,40.332,203,79,175,3.697145
8,Australia,Australia and New Zealand,south,7.313,938,49.897,261,72,212,3.909961
9,Sweden,Western Europe,north,7.291,932,51.845,152,60,186,3.948258
10,Israel,Middle East and Northern Africa,north,7.267,902,37.181,63,69,9,3.615798
11,Austria,Western Europe,north,7.119,906,44.731,279,75,191,3.800667
12,United States,North America,north,7.104,922,57.589,249,158,84,4.053332
13,Costa Rica,Latin America and Caribbean,north,7.087,791,11.733,149,87,11,2.462405
14,Germany,Western Europe,north,6.994,934,42.233,346,117,175,3.743202
15,Brazil,Latin America and Caribbean,both,6.952,758,8.639,245,145,16,2.156287
16,Belgium,Western Europe,north,6.929,915,41.261,295,84,212,3.719918
17,Ireland,Western Europe,north,6.907,934,64.100,313,118,165,4.160444
18,Luxembourg,Western Europe,north,6.871,904,100.739,236,133,271,4.612533
19,Mexico,Latin America and Caribbean,north,6.778,772,8.444,238,68,5,2.133456
20,Singapore,Southeastern Asia,north,6.739,930,55.243,60,12,11,4.011742
21,United Kingdom,Western Europe,north,6.725,920,40.412,219,126,195,3.699127
22,Chile,Latin America and Caribbean,south,6.705,842,13.961,130,124,172,2.636268
23,Panama,Latin America and Caribbean,north,6.701,785,14.333,285,104,18,2.662565
24,Argentina,Latin America and Caribbean,south,6.650,822,12.654,193,25,221,2.537973
25,Czech Republic,Central and Eastern Europe,north,6.596,885,18.484,361,170,134,2.916905
26,United Arab Emirates,Middle East and Northern Africa,north,6.573,862,38.518,16,135,5,3.651126
27,Uruguay,Latin America and Caribbean,south,6.545,802,15.298,115,35,220,2.727722
28,Malta,Western Europe,north,6.488,875,24.771,149,100,120,3.209674
29,Colombia,Latin America and Caribbean,both,6.481,747,5.757,159,76,3,1.750417
...,...,...,...,...,...,...,...,...,...,...
92,South Africa,Sub-Saharan Africa,south,4.459,696,5.280,225,76,81,1.663926
93,Egypt,Middle East and Northern Africa,north,4.362,694,3.548,6,4,1,1.266384
94,Armenia,Central and Eastern Europe,north,4.360,749,3.606,21,179,11,1.282599
95,Kenya,Sub-Saharan Africa,both,4.356,585,1.463,58,22,2,0.380489
96,Ukraine,Central and Eastern Europe,north,4.324,746,2.186,206,237,45,0.782073
97,Ghana,Sub-Saharan Africa,north,4.276,588,1.517,31,3,10,0.416735
98,Dem. Rep. Congo,Sub-Saharan Africa,south,4.272,452,1.712,32,3,1,0.537662
99,Georgia,Central and Eastern Europe,north,4.252,776,3.866,52,100,149,1.352220
100,Rep. Congo,Sub-Saharan Africa,south,4.236,612,498.000,76,1,9,6.210600
101,Senegal,Sub-Saharan Africa,north,4.219,499,953.000,9,1,7,6.859615
102,Bulgaria,Central and Eastern Europe,north,4.217,810,7.469,231,252,94,2.010761
103,Zimbabwe,Sub-Saharan Africa,south,4.193,532,1.029,64,18,4,0.028587
104,Malawi,Sub-Saharan Africa,south,4.156,474,300.000,8,11,1,5.703782
105,Gabon,Sub-Saharan Africa,south,4.121,698,7.079,347,98,59,1.957133
106,Mali,Sub-Saharan Africa,north,4.073,421,780.000,5,1,1,6.659294
107,Haiti,Latin America and Caribbean,north,4.028,496,735.000,1,326,1,6.599870
108,Botswana,Sub-Saharan Africa,south,3.974,712,6.954,173,35,35,1.939317
109,Comoros,Sub-Saharan Africa,south,3.956,502,775.000,1,3,1,6.652863
110,Cote d'Ivoire,Sub-Saharan Africa,north,3.916,486,1.535,37,1,7,0.428530
111,Cambodia,Southeastern Asia,north,3.907,576,1.270,57,65,1,0.239017
112,Angola,Sub-Saharan Africa,south,3.866,577,3.309,217,57,45,1.196646
113,Niger,Sub-Saharan Africa,north,3.856,351,368.000,3,2,1,5.908083
114,Chad,Sub-Saharan Africa,north,3.763,405,651.000,15,1,1,6.478510
115,Burkina Faso,Sub-Saharan Africa,north,3.739,420,614.000,25,7,7,6.419995
116,Madagascar,Sub-Saharan Africa,south,3.695,517,402.000,26,15,4,5.996452
117,Tanzania,Sub-Saharan Africa,south,3.666,533,878.000,36,6,1,6.777647
118,Liberia,Sub-Saharan Africa,north,3.622,432,455.000,19,152,2,6.120297
119,Benin,Sub-Saharan Africa,north,3.484,512,789.000,34,4,13,6.670766
120,Togo,Sub-Saharan Africa,north,3.303,500,577.000,36,2,19,6.357842
121,Syria,Middle East and Northern Africa,north,3.069,536,2.058,5,35,16,0.721735

In [32]:
X3 =  dados[['HDI', 'LOG_GPD']]
X_train3, X_test3, y_train3, y_test3 = train_test_split(X3, y, test_size=0.1, random_state=RANDOM_SEED)

In [33]:
reg.fit(X_train3, y_train3)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=5, p=2,
          weights='uniform')

In [34]:
y_predict3 = reg.predict(X_test3)
y_predict3

array([6.4564, 5.4852, 6.0942, 3.8938, 7.0992, 5.1418, 5.5162, 3.8178,
       5.561 , 6.4778, 6.2158, 4.0096, 6.5374])

In [35]:
erro=[]
for i,e in zip(y_predict3,y_test3):
    if i<e:
     diferenca = e-i
     erro.append(diferenca)
    else:
     diferenca = i-e
     erro.append(diferenca)

classificacao=[]
for erros in erro: 
    if erros< 0.5: 
        classfi= 'Certo'
        classificacao.append(classfi)
    else:
        classfi= 'Errado'
        classificacao.append(classfi)

In [36]:
data = {
'Y_predict': y_predict,
'Y_test': y_test,
'Erro': erro, 
'Classificação': classificacao,
}
tabela = pd.DataFrame(data, columns=['Y_predict', 'Y_test','Erro','Classificação'])
tabela.head(5)

    Y_predict  Y_test    Erro Classificação
18     7.2824   6.871  0.4146         Certo
45     6.2248   5.956  0.4708         Certo
47     5.1072   5.919  0.1752         Certo
89     3.6430   4.635  0.7412        Errado
4      7.0554   7.413  0.3138         Certo

In [37]:
contador=0
for c in classificacao: 
    if c == "Certo": 
        contador+=1
acertou=(contador/len(classificacao))*100
print("A regressão Kneighbors acertou {0}%".format(acertou))

A regressão Kneighbors acertou 53.84615384615385%

# Analisando com outras variaveis

In [39]:
X4 =  dados[['HDI', 'LOG_GPD', 'Beer_PerCapita', 'Spirit_PerCapita', 'Wine_PerCapita']]
y4 = dados["HappinessScore"]

In [40]:
X4_train, X4_test, y4_train, y4_test = train_test_split(X4, y4, test_size=0.1, random_state=RANDOM_SEED)

In [42]:
reg.fit(X4_train, y4_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=5, p=2,
          weights='uniform')

In [44]:
y_predict4 = reg.predict(X4_test)
y_predict4

array([6.9122, 6.2248, 5.1072, 4.0006, 7.0554, 5.8292, 6.1482, 5.1322,
       5.4962, 6.875 , 5.7138, 3.891 , 6.348 ])

In [46]:
erro=[]
for i,e in zip(y_predict4,y4_test):
    if i<e:
     diferenca = e-i
     erro.append(diferenca)
    else:
     diferenca = i-e
     erro.append(diferenca)

classificacao=[]
for erros in erro: 
    if erros< 0.5: 
        classfi= 'Certo'
        classificacao.append(classfi)
    else:
        classfi= 'Errado'
        classificacao.append(classfi)

In [47]:
data = {
'Y_predict': y_predict,
'Y_test': y_test,
'Erro': erro, 
'Classificação': classificacao,
}
tabela = pd.DataFrame(data, columns=['Y_predict', 'Y_test','Erro','Classificação'])
tabela.head(5)

    Y_predict  Y_test    Erro Classificação
18     7.2824   6.871  0.0412         Certo
45     6.2248   5.956  0.2688         Certo
47     5.1072   5.919  0.8118        Errado
89     3.6430   4.635  0.6344        Errado
4      7.0554   7.413  0.3576         Certo

In [48]:
contador=0
for c in classificacao: 
    if c == "Certo": 
        contador+=1
acertou=(contador/len(classificacao))*100
print("A regressão Kneighbors acertou {0}%".format(acertou))

A regressão Kneighbors acertou 46.15384615384615%

# Analisando mais variaveis

In [8]:
#lendo arquivos
mortalidade_infantil = pd.read_excel('child_mortality_0_5_year_olds_dying_per_1000_born.xlsx')
inflacao = pd.read_excel('inflation_annual_percent.xlsx')
crianca_p_mulher = pd.read_excel('children_per_woman_total_fertility.xlsx')
expectativa_vida = pd.read_excel('life_expectancy_years.xlsx')
desemprego = pd.read_excel('DadoDeDesemprego.xls', sheet_name="Data", skiprows=3)
#Colocar index e pegar o ano de 2016 - Mortalidade Infantil 
mort_infantil=mortalidade_infantil.set_index("country")
mort_infantil_2016 = mort_infantil.loc[:, [2016]]

#Colocar index e pegar o ano de 2016 - Inflação
infla=inflacao.set_index("country")
infla_2016 = infla.loc[:, [2016]]

#Colocar index e pegar o ano de 2016 -Criança por Mulher
crianca_mulher=crianca_p_mulher.set_index("country")
crianca_mulher_2016 = crianca_mulher.loc[:, [2016]]

#Colocar index e pegar o ano de 2016 - Expectativa de vida 
expec_vida=expectativa_vida.set_index("country")
expec_vida_2016 = expec_vida.loc[:, [2016]]

#Colocar index e pegar o ano de 2016 - Desemprego 
desemp_2016 = desemprego.loc[:, ["Country Name" ,"2016"]]
desemp_2016=desemp_2016.set_index("Country Name")
#juntando tabelas
df = mort_infantil_2016.join(infla_2016, how='inner', lsuffix='_mortalidade', rsuffix='_inflação')
df1 = df.join(crianca_mulher_2016, how="inner")
df1.columns = ['Mortalidade', 'Inflação', 'Criança p/ Mulher']
df2 = df1.join(expec_vida_2016, how="inner")
df2.columns = ['Mortalidade', 'Inflação', 'Criança p/ Mulher', 'Expec de Vida']
df3= df2.join(desemp_2016, how="inner")
df3.columns = ['Mortalidade', 'Inflação', 'Criança p/ Mulher', 'Expec de Vida', 'Desemprego']

#tirando valores nulos
df3=df3.dropna()
#lendo dados Felicidade e álcool 
dados = pd.read_excel("HappinessAlcoholConsumption.xls")

#Arrumando Index
dados_indice = dados.set_index("Country")
tudo= dados_indice.join(df3, how="inner")

In [15]:
tudo.head()

,Region,Hemisphere,HappinessScore,HDI,GDP_PerCapita,Beer_PerCapita,Spirit_PerCapita,Wine_PerCapita,Mortalidade,Inflação,Criança p/ Mulher,Expec de Vida,Desemprego
Denmark,Western Europe,north,7.526,928,53.579,224,81,278,4.4,-0.0464,1.74,80.8,6.1807
Switzerland,Western Europe,north,7.509,943,79.866,185,100,280,4.1,-0.5660,1.55,83.1,4.9179
Iceland,Western Europe,north,7.501,933,60.530,233,61,78,2.1,2.1100,1.93,82.3,2.9779
Norway,Western Europe,north,7.498,951,70.890,169,71,129,2.6,-1.1100,1.82,82.1,4.6789
Finland,Western Europe,north,7.413,918,43.433,263,133,97,2.3,0.7910,1.77,81.7,8.8184

In [18]:
X5 = ["Mortalidade","HDI","GDP_PerCapita","Inflação","Criança p/ Mulher","Expec de Vida","Desemprego"]

In [19]:
X_train5, X_test5, y_train5, y_test5 = train_test_split(X5, y, test_size=0.1, random_state=RANDOM_SEED)

ValueError: Found input variables with inconsistent numbers of samples: [7, 122]