# Projeto 3

Dados Happiness Alcohol Consumption

Pergunta: Qual a relação do PIB com o consumo de álcool e a felicidade?

In [5]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import os
from scipy.stats import norm, probplot
import statsmodels.api as sm
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

In [6]:
os.getcwd()

'C:\\Users\\Gabi_XPS\\OneDrive - Insper - Institudo de Ensino e Pesquisa\\INSPER\\2 semestre\\Ciencias dos Dados\\Projeto 3\\CD_Projeto3'

In [3]:
dados = pd.read_excel("HappinessAlcoholConsumption.xls")

In [4]:
dados

,Country,Region,Hemisphere,HappinessScore,HDI,GDP_PerCapita,Beer_PerCapita,Spirit_PerCapita,Wine_PerCapita
0,Denmark,Western Europe,north,7.526,928,53.579,224,81,278
1,Switzerland,Western Europe,north,7.509,943,79.866,185,100,280
2,Iceland,Western Europe,north,7.501,933,60.530,233,61,78
3,Norway,Western Europe,north,7.498,951,70.890,169,71,129
4,Finland,Western Europe,north,7.413,918,43.433,263,133,97
5,Canada,North America,north,7.404,922,42.349,240,122,100
6,Netherlands,Western Europe,north,7.339,928,45.638,251,88,190
7,New Zealand,Australia and New Zealand,south,7.334,915,40.332,203,79,175
8,Australia,Australia and New Zealand,south,7.313,938,49.897,261,72,212
9,Sweden,Western Europe,north,7.291,932,51.845,152,60,186
10,Israel,Middle East and Northern Africa,north,7.267,902,37.181,63,69,9
11,Austria,Western Europe,north,7.119,906,44.731,279,75,191
12,United States,North America,north,7.104,922,57.589,249,158,84
13,Costa Rica,Latin America and Caribbean,north,7.087,791,11.733,149,87,11
14,Germany,Western Europe,north,6.994,934,42.233,346,117,175
15,Brazil,Latin America and Caribbean,both,6.952,758,8.639,245,145,16
16,Belgium,Western Europe,north,6.929,915,41.261,295,84,212
17,Ireland,Western Europe,north,6.907,934,64.100,313,118,165
18,Luxembourg,Western Europe,north,6.871,904,100.739,236,133,271
19,Mexico,Latin America and Caribbean,north,6.778,772,8.444,238,68,5
20,Singapore,Southeastern Asia,north,6.739,930,55.243,60,12,11
21,United Kingdom,Western Europe,north,6.725,920,40.412,219,126,195
22,Chile,Latin America and Caribbean,south,6.705,842,13.961,130,124,172
23,Panama,Latin America and Caribbean,north,6.701,785,14.333,285,104,18
24,Argentina,Latin America and Caribbean,south,6.650,822,12.654,193,25,221
25,Czech Republic,Central and Eastern Europe,north,6.596,885,18.484,361,170,134
26,United Arab Emirates,Middle East and Northern Africa,north,6.573,862,38.518,16,135,5
27,Uruguay,Latin America and Caribbean,south,6.545,802,15.298,115,35,220
28,Malta,Western Europe,north,6.488,875,24.771,149,100,120
29,Colombia,Latin America and Caribbean,both,6.481,747,5.757,159,76,3
...,...,...,...,...,...,...,...,...,...
92,South Africa,Sub-Saharan Africa,south,4.459,696,5.280,225,76,81
93,Egypt,Middle East and Northern Africa,north,4.362,694,3.548,6,4,1
94,Armenia,Central and Eastern Europe,north,4.360,749,3.606,21,179,11
95,Kenya,Sub-Saharan Africa,both,4.356,585,1.463,58,22,2
96,Ukraine,Central and Eastern Europe,north,4.324,746,2.186,206,237,45
97,Ghana,Sub-Saharan Africa,north,4.276,588,1.517,31,3,10
98,Dem. Rep. Congo,Sub-Saharan Africa,south,4.272,452,1.712,32,3,1
99,Georgia,Central and Eastern Europe,north,4.252,776,3.866,52,100,149
100,Rep. Congo,Sub-Saharan Africa,south,4.236,612,498.000,76,1,9
101,Senegal,Sub-Saharan Africa,north,4.219,499,953.000,9,1,7
102,Bulgaria,Central and Eastern Europe,north,4.217,810,7.469,231,252,94
103,Zimbabwe,Sub-Saharan Africa,south,4.193,532,1.029,64,18,4
104,Malawi,Sub-Saharan Africa,south,4.156,474,300.000,8,11,1
105,Gabon,Sub-Saharan Africa,south,4.121,698,7.079,347,98,59
106,Mali,Sub-Saharan Africa,north,4.073,421,780.000,5,1,1
107,Haiti,Latin America and Caribbean,north,4.028,496,735.000,1,326,1
108,Botswana,Sub-Saharan Africa,south,3.974,712,6.954,173,35,35
109,Comoros,Sub-Saharan Africa,south,3.956,502,775.000,1,3,1
110,Cote d'Ivoire,Sub-Saharan Africa,north,3.916,486,1.535,37,1,7
111,Cambodia,Southeastern Asia,north,3.907,576,1.270,57,65,1
112,Angola,Sub-Saharan Africa,south,3.866,577,3.309,217,57,45
113,Niger,Sub-Saharan Africa,north,3.856,351,368.000,3,2,1
114,Chad,Sub-Saharan Africa,north,3.763,405,651.000,15,1,1
115,Burkina Faso,Sub-Saharan Africa,north,3.739,420,614.000,25,7,7
116,Madagascar,Sub-Saharan Africa,south,3.695,517,402.000,26,15,4
117,Tanzania,Sub-Saharan Africa,south,3.666,533,878.000,36,6,1
118,Liberia,Sub-Saharan Africa,north,3.622,432,455.000,19,152,2
119,Benin,Sub-Saharan Africa,north,3.484,512,789.000,34,4,13
120,Togo,Sub-Saharan Africa,north,3.303,500,577.000,36,2,19
121,Syria,Middle East and Northern Africa,north,3.069,536,2.058,5,35,16

In [24]:
dados_indice = dados.set_index("Country")

In [25]:
### Função utilitária para fazer a regressão com constante adicionada
def regress(X,Y):
    X_cp = sm.add_constant(X)
    model = sm.OLS(Y,X_cp)
    results = model.fit()
    return results

Apenas com as variáveis quantitativas desse dataset

In [26]:
dados_indice.columns

Index(['Region', 'Hemisphere', 'HappinessScore', 'HDI', 'GDP_PerCapita',
       'Beer_PerCapita', 'Spirit_PerCapita', 'Wine_PerCapita'],
      dtype='object')

In [27]:
df = dados_indice[['HappinessScore', 'HDI','GDP_PerCapita', 'Beer_PerCapita', 'Spirit_PerCapita','Wine_PerCapita']]

In [28]:
df.describe()

,HappinessScore,HDI,GDP_PerCapita,Beer_PerCapita,Spirit_PerCapita,Wine_PerCapita
count,122.000000,122.000000,122.000000,122.000000,122.000000,122.000000
mean,5.524828,740.877049,91.482836,137.565574,96.598361,66.598361
std,1.148736,149.846124,209.577313,104.817353,81.435028,88.121503
min,3.069000,351.000000,1.029000,1.000000,1.000000,1.000000
25%,4.528250,663.750000,4.134250,38.250000,25.500000,5.000000
50%,5.542000,757.500000,12.016000,125.500000,82.500000,16.000000
75%,6.477000,861.500000,41.990000,224.750000,142.500000,112.750000
max,7.526000,951.000000,953.000000,376.000000,373.000000,370.000000

In [29]:
np.sum(df.isnull())

HappinessScore      0
HDI                 0
GDP_PerCapita       0
Beer_PerCapita      0
Spirit_PerCapita    0
Wine_PerCapita      0
dtype: int64

Ajuste um modelo considerando XXXX como resposta (dependente) e as demais variáveis da base de dados como explicativas!