# Projeto 3

Dados Happiness Alcohol Consumption

Pergunta: Qual a relação do PIB com o consumo de álcool e a felicidade?

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import os
from scipy.stats import norm, probplot
import statsmodels.api as sm
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import statsmodels.api as sm 
from scipy import stats

In [2]:
os.getcwd()

'C:\\Users\\Gabi_XPS\\OneDrive - Insper - Institudo de Ensino e Pesquisa\\INSPER\\2 semestre\\Ciencias dos Dados\\Projeto 3\\CD_Projeto3'

In [3]:
dados = pd.read_excel("HappinessAlcoholConsumption.xls")

In [4]:
#dados

In [5]:
dados_indice = dados.set_index("Country")

Apenas com as variáveis quantitativas desse dataset

In [7]:
dados_indice.columns

Index(['Region', 'Hemisphere', 'HappinessScore', 'HDI', 'GDP_PerCapita',
       'Beer_PerCapita', 'Spirit_PerCapita', 'Wine_PerCapita'],
      dtype='object')

In [8]:
df = dados_indice[['HappinessScore', 'HDI','GDP_PerCapita', 'Beer_PerCapita', 'Spirit_PerCapita','Wine_PerCapita']]

In [9]:
df.describe()

,HappinessScore,HDI,GDP_PerCapita,Beer_PerCapita,Spirit_PerCapita,Wine_PerCapita
count,122.000000,122.000000,122.000000,122.000000,122.000000,122.000000
mean,5.524828,740.877049,91.482836,137.565574,96.598361,66.598361
std,1.148736,149.846124,209.577313,104.817353,81.435028,88.121503
min,3.069000,351.000000,1.029000,1.000000,1.000000,1.000000
25%,4.528250,663.750000,4.134250,38.250000,25.500000,5.000000
50%,5.542000,757.500000,12.016000,125.500000,82.500000,16.000000
75%,6.477000,861.500000,41.990000,224.750000,142.500000,112.750000
max,7.526000,951.000000,953.000000,376.000000,373.000000,370.000000

In [10]:
np.sum(df.isnull())

HappinessScore      0
HDI                 0
GDP_PerCapita       0
Beer_PerCapita      0
Spirit_PerCapita    0
Wine_PerCapita      0
dtype: int64